authorLink: "/"
authorEmail: ""
lightgallery: false
gravatarForce: false
rssFullText: false
draft: false
ruby: true
fraction: true
fontawesome: true
linkToMarkdown: true
hiddenFromSearch: false
images: [""]
twemoji: true
toc:
  enable: true
  auto: true
expirationReminder:
  enable: false
code:
  copy: true
edit:
  enable: false
math:
  enable: true
mapbox:
  accessToken: ""
share:
  enable: true
comment:
  enable: true
library:
  css:
  js:
seo:
  images: [""]
---
${abstract}
<!--more-->
${editor}